.event-carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  position: relative;
}
.single-event-container {
  width: 50vw;
  height: 103vh;
  overflow: visible;
  border: 2px solid rgb(209, 204, 204);
}
.single-event-container img {
  width: 50vw;
  height: 70vh;
}

.carousel-caption {
  position: static;
  color: black;
}
.new-post-cta{
  background-color: blue;
  color: white;
  width: fit-content;
  padding: 8px 2rem;
  border-radius: 8px;
  margin-top: 2rem;
  margin-left: 2rem;
}
.delete-post-cta{
  position: absolute;
  z-index: 99999;
  top: 0;
}
.delete-post-cta button{
  background-color: red;
  padding: 8px 1rem;
  border: none;
  color: white;
  border-radius: 8px;
}
@media screen and (max-width: 871px) {
  .single-event-container {
    width: 90vw;
    height: auto;
  }
  .single-event-container img {
    width: 90vw !important;
    height: 40vh;
  }
}
