.intro-header {
  color: #006ca8;
  font-weight: bold;
  font-size: 4rem;
  word-wrap: break-word;
  text-align: left;
}
.intro-section-1 {
  width: 40%;
}

.intro-body-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 6%;
  gap: 2rem;
  background-color: rgba(220, 220, 220, 0.265);
  position: relative;
}
.intro-body-cta-button {
  margin-top: 1rem;
  width: 50%;
}
.intro-description {
  margin-top: 1rem;
  text-align: left;
  word-wrap: break-word;
}
/* image section */
.intro-img img {
  height: auto;
  width: 20rem;
  border-radius: 8px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
}
.description-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 1rem;
  flex-direction:column ;
}
@media only screen and (max-width: 868px) {
  .intro-section-1 {
    text-align: center;
    width: 100%;
  }
  .intro-body-container {
    flex-direction: column;
  }
  .image-container {
    justify-content: center;
    gap: 10px;
  }
  .intro-header {
    font-size: 3rem;
  }
}
