.nav-container .container-fluid {
  justify-content: space-evenly;
}
.header-img-container {
  position: absolute;
  left: 5%;
}
.header-title {
  color: #006ca8;
  font-weight: bold;
  font-size: 2.5rem;
}
.header-img {
  max-width: 5rem;
  max-height: 5rem;
  height: 5rem;
  width: 5rem;
}
.navbar-cta-container .offcanvas-body {
  gap: 2rem;
}
.navbar-cta-container .navbar-cta {
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.navbar-cta-button {
  min-width: 8rem;
  min-height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}
/* overwriting the bg color */
.navbar {
  background-color: white !important;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  position: relative !important;
}
.nav-container nav {
  margin-bottom: 0 !important;
}
@media (min-width: 1200px) {
  /* overwriting styles */
  .navbar-expand-xl .offcanvas {
    flex-grow: 0;
  }
}
@media only screen and (max-width: 571px) {
  .header-img {
    display: none;
  }
}
